<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " [class.active]="viewTab=='course'" href="#" (click)="viewTab='course'">Course</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="#">Topic</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" href="#" [class.active]="viewTab=='map'" (click)="viewTab='map'">Map</a>
    </li>
</ul>

<div *ngIf="viewTab=='course'">

    <h3>Course List</h3>
    <!-- <ul *ngIf="courseList.length>0" class="list-group">
        <li *ngFor="let course of courseList" class="list-group-item">
            {{course.name}}
        </li>
    </ul>
    <p *ngIf="courseList.length==0">No courses available</p> -->


    <div *ngIf="courseList.length>0;then showCourse else noCourse"></div>

    <ng-template #showCourse>
        <ul class="list-group">
            <li *ngFor="let course of courseList" class="list-group-item">
                {{course.name}}
            </li>
        </ul>
    </ng-template>
    <ng-template #noCourse>
        <div>No courses available!!</div>
    </ng-template>
</div>

<div *ngIf="viewTab=='map'">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.232402342361!2d77.70145651397104!3d12.956975318706817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13cd124e4dab%3A0xa6a6d1a400ac9903!2sSDLC%20Training!5e0!3m2!1sen!2sin!4v1587270831718!5m2!1sen!2sin"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>

<!-- 
<div [hidden]="viewTab!='course'">

    <h3>Course List</h3>

    <div *ngIf="courseList.length>0;then showCourse else noCourse"></div>

    <ng-template #showCourse>
        <ul class="list-group">
            <li *ngFor="let course of courseList" class="list-group-item">
                {{course.name}}
            </li>
        </ul>
    </ng-template>
    <ng-template #noCourse>
        <div>No courses available!!</div>
    </ng-template>
</div>

<div [hidden]="viewTab!='map'">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.232402342361!2d77.70145651397104!3d12.956975318706817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13cd124e4dab%3A0xa6a6d1a400ac9903!2sSDLC%20Training!5e0!3m2!1sen!2sin!4v1587270831718!5m2!1sen!2sin"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div> -->