<h2>{{titleVal}}</h2>
<!--<h2>{{titleVal}}</h2>
<h2>{{getTitleVal()}}</h2>
<div>
    <span>{{1+1}}</span>
</div>
<div>
    <b>Date: </b><i>{{date}}</i>
</div> -->

<!-- <h2>{{title}}</h2>
<h2 [innerHTML]="title" [title]="'some title'"></h2>
<h2 [textContent]="title"></h2>
<h2 [innerText]="title" [title]="title"></h2> -->
<!-- <h2 innerText="title"></h2> -->

<!-- <img src="{{imgSrc}}" alt="dummy image">
<img [src]="imgSrc" [alt]="imgSrc"> -->


<!-- table>tr*3>td*4>lorem1 -->
<table>
    <tr>
        <td [attr.colspan]="colSpan">Lorem.</td>
        <!-- <td>Repellat?</td> -->
        <td>Officiis.</td>
        <td>Ipsam.</td>
    </tr>
    <tr>
        <td>Pariatur!</td>
        <td [attr.rowspan]="rowSpan">Quisquam.</td>
        <td>Doloremque!</td>
        <td>Praesentium.</td>
    </tr>
    <tr>
        <td>Placeat.</td>
        <!-- <td>Qui.</td> -->
        <td>Deserunt!</td>
        <td>Nesciunt?</td>
    </tr>
</table>

<!-- <img src="somesrc" data-src1="soomej1" alt=""> -->

<br>
<button class="btn" [class.btn-primary]="isActive" [class.btn-danger]="!isActive">{{ isActive?'Active':'Inactive'}}</button>
<!-- <button class="btn btn-danger">Button</button> -->