<div class="contact-form">
    <form (ngSubmit)="contactFormSubmit(contactForm)" #contactForm="ngForm" ngForm autocomplete="off">
        <h3>Contact Form</h3>
        <div ngModelGroup="namegroup" #nameGroup="ngModelGroup" class="pt-3 pb-3">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter First Name" name="firstname" required minlength="3" maxlength="20" pattern="^[a-zA-Z]+$" ngModel #firstname="ngModel">
                <!-- [ngModelOptions]="{standalone: true}" -->
                <!-- (change)="inputFieldChange(firstname)" -->
            </div>

            <div class="alert alert-danger" *ngIf="firstname.errors && firstname.touched">
                <div *ngIf="firstname.errors.required">First name is required</div>
                <div *ngIf="firstname.errors.minlength">First name minimum length should be {{firstname.errors.minlength.requiredLength}}</div>
                <div *ngIf="firstname.errors.maxlength">First name maximum length should be {{firstname.errors.maxlength.requiredLength}}</div>
                <div *ngIf="firstname.errors.pattern">First name is not valid</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Last Name" name="lastname" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter Email ID" name="email" ngModel required>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="comment" rows="4" placeholder="Add comment" ngModel></textarea>
        </div>
        <div class="form-group">
            <!-- <label for="">Gender</label> -->
            <select class="form-control" name="gender" ngModel>
                <option value="">Select Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <!-- <label for="">Gender</label> -->
            <select class="form-control" multiple name="contactOption" ngModel>
                <!-- <option value="">Select Contact Option</option> -->
                <!-- <option *ngFor="let option of contactOption">
                    {{option.name}}
                </option> -->
                <!-- <option *ngFor="let option of contactOption" [value]="option.id">
                    {{option.name}}
                </option> -->
                <option *ngFor="let option of contactOption" [ngValue]="option">
                    {{option.name}}
                </option>
            </select>
        </div>
        <div class="form-check" *ngFor="let option of contactOption">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="contact"  [value]="option" ngModel>
                {{option.name}}
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="agreement"    [(ngModel)]="agreement">
                User Agreement
            </label>
        </div>
        <div>
            <button class="btn btn-primary form-control" [disabled]="contactForm.invalid">Submit</button>
        </div>
    </form>
</div>

<div class="alert alert-danger" *ngIf="contactForm.errors?.notSubmited">
    Unable to submit the form, Please try again later
</div>

<!-- {{firstname.errors | json}} -->
<!-- {{contactForm.errors | json}} -->
<div>..{{contactForm.value | json}}</div>