<div style="width: 90%;  margin: auto;">
    <h3 style="text-align: center;">{{updatedTitle}}</h3>
    <!-- <div>This is app component</div>
    <div>This is app component</div>
    <div>This is app component</div>
    <div>This is app component</div>
    <div>This is app component</div> -->
    <!-- <hr> -->
    <!-- <app-course></app-course> -->
    <!-- <app-course></app-course>
    <app-course></app-course>
    <app-course></app-course> -->
    <!-- <hr>
    <app-courses></app-courses>
    <hr>
    <app-course-list></app-course-list> -->

    <!-- <app-data-binding-event></app-data-binding-event> -->
    <!-- <app-event-binding></app-event-binding> -->
    <!-- <app-topics></app-topics> -->
    <!-- <app-pipe></app-pipe> -->
    <app-item-list></app-item-list>
</div>

<router-outlet>
</router-outlet>