<!-- <div style="width: 90%;  margin: auto;">
    <h3 style="text-align: center;">{{updatedTitle}}</h3> -->
<!-- <div>This is app component</div>
    <div>This is app component</div>
    <div>This is app component</div>
    <div>This is app component</div>
    <div>This is app component</div> -->
<!-- <hr> -->
<!-- <app-course></app-course> -->
<!-- <app-course></app-course>
    <app-course></app-course>
    <app-course></app-course> -->
<!-- <hr>
    <app-courses></app-courses>
    <hr>
    <app-course-list></app-course-list> -->

<!-- <app-data-binding-event></app-data-binding-event> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-topics></app-topics> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-item-list></app-item-list> -->
<!-- </div> -->
<app-basic-theme>
    <ng-container class="header">
        <app-header></app-header>
    </ng-container>
    <!-- <div class="header">
        2
        <app-header></app-header>
    </div>
    <div class="header">
        3
        <app-header></app-header>
    </div> -->
    <ng-container class="main-content">

        <!-- <app-item-list></app-item-list> -->
        <app-directives></app-directives>

    </ng-container>
    <!-- <div class="main-content">
        <app-data-binding-event></app-data-binding-event>
    </div> -->
    <!-- <div class="header">
        4
        <app-header></app-header>
    </div> -->

</app-basic-theme>